/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import './normalize.css';
@import './skeleton.css';

.center {
  text-align: center;
}

.mt-5 {
  margin-top: 50px;
}
