<div class="container">

  <div class="row center mt-5">
    <div class="twelve columns">
      <img src="assets/icon.png" height="200"/>
    </div>
  </div>

  <!-- just use a number and class 'column' or 'columns' -->
  <div class="row center mt-5">
    <div class="four columns"><a class="button" routerLink="/practice">Üben</a></div>
    <div class="four columns"><a class="button" routerLink="/competition">Wettbewerb</a></div>
    <div class="four columns"><a class="button" routerLink="/result">Bestenliste</a></div>
  </div>

  <hr/>

  <!-- there are a few shorthand columns widths as well -->
  <div class="row center mt-5">
    <div class="offset-by-one column ten columns">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
