<h2>Bestenliste</h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Schule</th>
      <th>Alter</th>
      <th>Zeit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results; index as i">
      <th>{{i + 1}}</th>
      <td>{{result.name}}</td>
      <td>{{result.school}}</td>
      <td>{{result.age | number:'1.0-0'}}</td>
      <td>{{result.exercise.duration / 1000 | number: '1.2-2'}} Sekunden</td>
    </tr>
  </tbody>
</table>
