<h2>Übungsaufgaben</h2>

<form *ngIf="! validation">
  <div class="row mt-5">
    <div class="six columns exercise">
      <span>{{exercise.multiplicand}}</span> &#x2715; <strong>{{exercise.multiplier}}</strong> =
    </div>
    <div class="six columns">
      <input class="u-full-width result" [(ngModel)]="exercise.result" placeholder="Ergebnis" name="resultInput" type="number" [focus]="focusInput">
    </div>
  </div>
  <button class="button-primary mt-5" (click)="validate()">Richtig?</button>
</form>

<div *ngIf="validation">
  <div *ngIf="exercise.success">
    <h3>Richtig!</h3>
  </div>

  <div *ngIf="!exercise.success">
    <h3>Leider nicht richtig!<br/>Die richtige Lösung ist {{exercise.expectedResult}}</h3>
  </div>
</div>
