<h2>Rechenwettbewerb</h2>

<div *ngIf="! validation">
  <form>
    <!-- TODO: Hide solved ones and focus the next one -->
    <div *ngFor="let exercise of competition.exercises; index as i; first as isFirst" class="row mt-5">
      <div class="six columns exercise">
        <span>{{exercise.multiplicand}}</span> &#x2715; <strong>{{exercise.multiplier}}</strong> =
      </div>
      <div class="six columns">
        <input class="u-full-width result" [(ngModel)]="exercise.result" placeholder="Ergebnis" name="result" type="number">
      </div>
    </div>
    <button class="button-primary mt-5" (click)="validate()">Richtig?</button>
  </form>
</div>

<div *ngIf="validation && competition.failureCount == 0">
  <h3>Alles richtig!</h3>
  <p>Du hast {{competition.duration / 1000 | number: '1.2-2'}} Sekunden gebraucht und bist damit auf Position {{position}}.</p>
  <p>Wenn du möchtest, kannst du dein Ergebnis speichern</p>
  <form>
    <div>
      <input class="u-full-width" [(ngModel)]="result.name" placeholder="Wie heißt du?" name="name" type="text">
    </div>
    <div>
      <input class="u-full-width" [(ngModel)]="result.school" placeholder="Auf welche Schule gehst du?" name="school" type="text">
    </div>
    <div>
      <input class="u-full-width" [(ngModel)]="result.age" placeholder="Wie alt bist du?" name="age" type="number">
    </div>
    <button class="button-primary mt-5" (click)="save()">Ergebnis speichern</button>
  </form>
</div>

<div *ngIf="validation && competition.failureCount > 0">
  <h3>Leider nicht alles richtig!</h3>
  <p>Du hast leider {{competition.failureCount}} Aufgabe(n) nicht richtig gelöst.</p>
  <a class="button button-primary" (click)="generate()">Noch einmal versuchen</a>
</div>
